*.py[cod]
.idea
# C extensions
*.so

# Packages
*.egg
*.egg-info
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
.DS_STORE
.DS_Store
sellerinfo.py
.pyc

env
venv
secrets
.env
.settings
