
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.right-nav {
    float: right;
    padding: 5px;
}

#modal {
    position: absolute;
    /*background:url(tint20.png) 0 0 repeat;*/
    background: rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding: 8px;
}

#content {
    border-radius: 8px;
    background: #fff;
    padding: 20px;
}

#close {
    position: absolute;
    background: url('/static/img/close.png') 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    text-indent: -9999px;
    top: -7px;
    right: -7px;
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #DDDDDD;
}

table {
    background-color: #343434;
}

tr {

}

td {
    width: 57px;
    height: 50px;
    text-align: center;
    padding: 3px;
    border: 1px solid gray;
}

td div {
    width: 10px;
}

body {
    font-family: arial;
    font-style: normal;
    background-color: #F5F5F5;
    height: 100%;
    text-align: center;
}

.clear {
    clear: both;
}

.header {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    margin-top: 0px;
    display: inline-block;
}

.header.visible-xs {
    font-size: 26px;
}

#games {
    margin: 0 auto;
}

.game {
    /*width: 20%;*/
    /*min-width: 220px; */
    /*max-width: 340px; */
    width: 300px;
    background-color: white;
    border-color: #C0BCBC;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

.game-featured {
    border-color: #fadf98;
}

.game-link {
    display: block;
    margin: 10px;
}

.games-bar {
    width: 330px;
    float: left;
}

.game-tag {
    font-size: 18px;
    margin: 7px;
}

.game-panel {
}

.game-panel-description {
    margin: 10px;
}

.game-panel-instructions-header {
    font-weight: bold;
}

.game-panel-instructions {
    margin: 10px;
}

.small-description-text {
    height: 63px;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "...";
    overflow: hidden;
}

.small-description-text-featured {
    height: auto;
}

.small-description-text {
    margin: 10px;
}

#searchbox {
    margin: 10px;
}

#main {
    background-color: white;
}

#container {
    margin: 0 30px;
    position: relative;
}

.btn-large {
    position: relative;
}

.load-more {
    width: 200px;
}

#footer {
    display: inline;
    margin-top: 20px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

#footer {
    text-align: center;
}

#footer a {
    font-size: small;
    margin: 0 11px;
    color: Gray;
}

.clear {
    clear: both;
}

.header-share {
    margin-right: 123px;
}

@media (max-width: 480px) {
    .header-share {
        display: none;
    }
}


/*    BITBANK*/


.fa-footer {
    margin: 7px;
    width: 16px;
    height: 16px;
}

.hero-signup {
    margin: 10px;
    padding: 10px 25px;
}

.mdl-button--header-signup {
    padding: 11px !important;
    margin: 0px;
    line-height: 20px !important;
    height: 16px;
}

.mdl-button--header-signup:hover,
.mdl-button--header-signup:focus {
    background-color: #eb3f74 !important;
}

.middled {
    text-align: center;
}

@media screen and (max-width: 580px) {
    .hero-text p {
        white-space: pre-line;
    }
}

.kitty-hero__text-button {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.intro-section,
.cards-section {
    max-width: 960px;
}

/* ABOUT KITTY INTRO */
.pricing-down-arrow {

}


.intro-section {
    padding: 3em 0 2em;
}

@media (min-width: 780px) {
    .intro-section {
        padding: 5em 2em 5em;
    }
}

.about-kitty p {
    max-width: 640px;
    margin: auto;
}

.circle-container {
    width: 100%;
    min-height: 100px;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.circle-container .circle {
    height: 16px;
    width: 16px;
    background-color: #c51162;
    border-radius: 50%;
    margin: 0 3px 9px;
}

.topics-container {
    padding: 2em 0;
}

.topics-container .topic {
    font-size: 20px;
    margin: 0 2px 5px;
}

@media screen and (max-width: 480px) {
    .topics-container .topic {
        margin-bottom: 0.5em;
    }
}

.embedded-img {
    max-width: 150px;
    max-height: 150px;
    margin: 0.5em;
    border-radius: 50%;
}

/* CARDS SECTION */

.cards-section {
    padding: 5em 0;
}

.mdl-card__title {
    min-height: 300px;
    color: white;
}

.home-bringing-card .mdl-card__title {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/kitten-home.jpg') center / cover;
}

.play-card .mdl-card__title {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/kitten-on-tree.jpg') center / cover;
}

.image-card {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/image-card.jpg') center / cover;
}

.image-card > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.6);
}

.image-card__title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.litter-card .mdl-card__title {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/litter-card.jpg') center / cover;
}

.diet-card .mdl-card__title {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/diet-card.jpg') center / cover;
}

.card-small {
    min-height: auto;
}

.card-small > .mdl-card__title {
    color: rgba(0, 0, 0, 0.87);
    height: auto;
    min-height: auto;
}

.card-small .mdl-card__title-text {
    font-size: 16px;
}

.card-small .mdl-card__title-text:before {
    content: "";
    display: inline-block;
    margin-right: 0.5em;
    width: 18px;
    height: 18px;
    background-color: #c51162;
    border-radius: 50%;
}

/* FULLWIDTH BACKGROUND SECTION */

.fullwidth-panel {
    color: white;
    background-color: rgba(156, 39, 176, 0.6);
}

.fullwidth-panel p {
    max-width: 640px;
    margin: auto;
}

.quote-panel {
    background-image: linear-gradient(rgba(63, 81, 181, 0.5), rgba(63, 81, 181, 0.5)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/panel-bg.jpg');
    background-position: center 5%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 2em 2em;
    display: flex;
    align-content: flex-start;
}

@media screen and (min-width: 800px) {
    .quote-panel {
        background-position: center 0;
        padding: 6em 2em;
    }
}

@media screen and (min-width: 1200px) {
    .quote-panel {
        background-position: center 8%;
        padding: 10em 2em 8em;
    }
}

.contact-intro {
    color: rgba(255, 255, 255, 0.87);
}

.contact-panel {
    padding: 6em 4em;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.mdl-textfield {
    display: block;
    width: 100%;
    padding: 20px 0;
}

@media screen and (min-width: 800px) {
    .subscribe-button {
        float: right;
    }
}

.address-panel {
    background-color: #dbdef1;
    color: rgba(255, 255, 255, 0.87);
}

.address-panel .material-icons {
    position: relative;
    top: 0.2em;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #ff4081;
    padding: 0.5em;
    border-radius: 50%;
}
