<!doctype html>
<html><head><title>{{ game.title }}</title></head>
<body style="margin:0; background-color: {{ game.frame }}">
<iframe src="{{ game.url }}" style="border:5px solid {{ game.frame }}; width: {{ game.width }}px; height: {{ game.height }}px;"></iframe>
</body></html>
