{% macro showgame(game) -%}
    <div class="game">
        <a class="game-link" href="/game/{{ game.urltitle }}" title="{{ game.title }}"><img
                src="{{ awgutils.getImgUrl(game.urltitle) }}" alt="{{ game.title }}" width="{{ game.imgwidth }}"
                height="{{ game.imgheight }}"/></a>
        <a href="/game/{{ game.urltitle }}" title="{{ game.title }}">{{ game.title }}</a>

        <p class="small-description-text">{{ game.description }}</p>

    </div>
{%- endmacro %}

{% macro tagsFor(game) -%}
    <p class="game-tags">
        {% for tag in game.tags %}
            <a class="game-tag" href="/games/{{ tag }}"
               title="{{ awgutils.titleDecode(tag) }}">{{ awgutils.titleDecode(tag) }}</a>
        {% endfor %}
    </p>
{%- endmacro %}


{% macro showwordsmashing() -%}
    <div class="game game-featured">
        <a class="game-link" href="http://www.wordsmashing.com" title="Word Smashing Puzzle" target="_blank"><img
                src="/static/img/word-smashing-logo.png" alt="Word Smashing, Addicting Word Puzzle Game" width="250"
                height="184"/></a>
        <a href="http://www.wordsmashing.com" title="Play Word Smashing!" target="_blank">Word Smashing!</a>

        <p class="small-description-text">Additively Fun Free Word Puzzle! Slide Letters Around Making Words! Making
            Words Will Clear Valuable Space!</p>
    </div>
{%- endmacro %}

{% macro showrewordgame() -%}
    <div class="game game-featured">
        <a class="game-link" href="http://rewordgame.com" title="reWord Game Word Puzzle" target="_blank"><img
                src="/static/img/reword-game-logo256.png" alt="reWord Game, Word Swapping Puzzle Game" width="256"
                height="256"/></a>
        <a href="http://rewordgame.com" title="Play reWord Game!" target="_blank">reWord Game!</a>

        <p class="small-description-text">Swap Words to Make Sense of Strangeness in this new word puzzle game! Play
            reWord Game Free Online!</p>
    </div>
{%- endmacro %}

{% macro showmultiplicationmaster() -%}
    <div class="game game-featured">
        <a class="game-link" href="http://www.multiplicationmaster.com"
           title="Multiplication Master Multiplication Game" target="_blank"><img
                src="/static/img/multiplication-master-promo-256.png" alt="Multiplication Master Maths Game" width="256"
                height="256"/></a>
        <a href="http://www.multiplicationmaster.com" title="Play multiplication Master!" target="_blank">Multiplication
            Master!</a>

        <p class="small-description-text small-description-text-featured">Find numbers which work! Multiplication Master
            makes math fun! Beat the clock in this battle of the brains or create crazy combos! Multiplication Master
            Means Maths Madness!</p>
    </div>
{%- endmacro %}

{% macro showbigmultiplayerchess() -%}
    <div class="game game-featured">
        <a class="game-link" href="http://bigmultiplayerchess.com"
           title="Big Multiplayer Chess Game" target="_blank"><img
                src="/static/img/big-multiplayer-chess-logo256.png" alt="Big Multiplayer Chess Game" width="256"
                height="256"/></a>
        <a href="http://bigmultiplayerchess.com" title="Play Big Multiplayer Chess!" target="_blank">Big Multiplayer Chess!</a>

        <p class="small-description-text small-description-text-featured">Massive 6+ Player Chess Board! Pawns move in any direction! Invade and take over your enemies chess pieces by taking the king!</p>
    </div>
{%- endmacro %}

{% macro showmaingame() -%}
    {% if game %}
        <div class="game game-panel" style="width:{{ game.width+40 }}px;">
            <h2>{{ game.title }}</h2>

            <div>
                {{ renderswf() }}
            </div>
            {{ shareBtnsHorizontal(url) }}
            {% if game.description %}
                <div class="game-panel-description">
                    <p>{{ game.description }}</p>
                </div>
            {% endif %}
            {% if game.instructions %}
                <div class="game-panel-instructions">
                    <p class="game-panel-instructions-header">Instructions:</p>

                    <p>{{ game.instructions }}</p>
                </div>
            {% endif %}
            {{ tagsFor(game) }}
        </div>
    {% endif %}
{%- endmacro %}

{% macro showadd(num_adds_shown) -%}
    {% if num_adds_shown < 10 %}

    <div class="game" style="height:250px;min-width:300px">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- AWG BOX -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-7026363262140448"
             data-ad-slot="9106168954"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}

{%- endmacro %}

{% macro showgames() -%}
    <div id="games">
        {{ showmaingame() }}
        {{ showwordsmashing() }}
        {{ showmultiplicationmaster() }}
        {{ showrewordgame() }}
        {{ showbigmultiplayerchess() }}
        {% set num_adds_shown = 0 %}
        {% for game in games %}
{#            {% if awgutils.shouldShowAddBefore(game) %}#}
{#                {{ showadd(num_adds_shown) }}#}
{#                {% set num_adds_shown = num_adds_shown + 1 %}#}
{#            {% endif %}#}
            {{ showgame(game) }}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro renderswf() -%}
    <object type="application/x-shockwave-flash" data="{{ awgutils.getSWFUrl(game.urltitle) }}"
            id="" style="margin:0 10px;width:{{ game.width }}px;height:{{ game.height }}px;" wmode="direct">
    </object>
{%- endmacro %}

{% macro topbar() -%}
    <div id="main">
        <div id="logo">
            <h1 class="header"><a href="/" title="Addicting Word Games">Addicting <span
                    style="color:gray;display:inline-block;">Word Games</span></a></h1>

{#            <div class="header-share">#}
{#                <div class="fb-like" data-href="https://www.facebook.com/addictingwordgames" data-width="400px"#}
{#                     data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>#}
{#            </div>#}
        </div>
        <!-- <div id="login">
          <fb:login-button autologoutlink="true" scope="publish_stream" width="200" max-rows="1"></fb:login-button>
        </div> -->
    </div>
{%- endmacro %}

{% macro headers(ws, highscores, achievements) -%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/social-likes.css">
    <!--[if IE 8]>
    <link rel="stylesheet" href="/static/css/ie8.css" type="text/css"/><![endif]-->


    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>

    <script src="/static/js/social-likes.min.js"></script>
    <script>
        $(function () {
            var $container = $('#games');
            // initialize
            $container.masonry({
                columnWidth: 300,
                itemSelector: '.game',
                "isFitWidth": true,
                "gutter": 0
            });

            $('.search-box').focus();
        });
        var isfetching = false;
        var curr_cursor = '{{ next_page_cursor }}';
        function loadmore() {
            if (!isfetching) {

                isfetching = true;
                $('.load-more').attr('disabled', 'disabled');
                $.ajax({
                    'url': '/loadgames?cursor=' + curr_cursor + '{% if urltitle %}&title={{ urltitle }}{% endif %}',
                    'success': function (data) {
                        $('.load-more').removeAttr('disabled');
                        a = $('<div></div>');
                        a.html(data);
                        curr_cursor = a.find('#cursor').attr('data-cursor');
                        items = a.find('.game');
                        var $games = $('#games');
                        $games.append(items);
                        // $('#games').masonry( 'addItems', items );
                        $games.masonry('appended', items);

                        isfetching = false;
                    },
                    'error': function (data) {
                        var $load = $('.load-more');
                        $load.removeAttr('disabled');
                        $load.html('No More Results');
                    },
                    cache: false
                });
            }
            return false;
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43904545-1', 'addictingwordgames.com');
        ga('send', 'pageview');

    </script>
{%- endmacro %}

{% macro templates() -%}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=138831849632195";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{%- endmacro %}

{% macro loadmorebutton() -%}
    <a class="btn btn-large btn-primary load-more" href="#" onclick="loadmore();return false;"
       title="Load Addicting Word Games!">Load More...</a>
{%- endmacro %}

{% macro footer() -%}
    <div id="footer">
        <p>
            {% if '/contact' in url %}
                <span>Contact</span>
            {% else %}
                <a href="/contact" title="Contact Us">Contact</a>
            {% endif %}

            {% if '/about' in url %}
                <span>About Us</span>
            {% else %}
                <a href="/about" title="About Addicting Word Games">About Us</a>
            {% endif %}

            {% if '/terms' in url %}
                <span>Terms &amp; Conditions</span>
            {% else %}
                <a href="/terms" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
            {% endif %}

            {% if '/privacy-policy' in url %}
                <span>Privacy Policy</span>
            {% else %}
                <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
            {% endif %}

            <span>© 2013 Addicting Word Games</span>
            <!-- <a href="http://www.facebook.com/addictingwordgames" title="Addicting Word Games on Facebook" target="_blank">
            <img src="/img/facebook.jpg" alt="Addicting Word Games on Facebook" width="144px" height="44px">
        </a> -->
        </p>
    </div>
{%- endmacro %}

{%- macro shareBtnsHorizontal(url) %}
    <div style="height:25px">
        <span class="fb-like" data-href="{{ url }}" data-send="true" data-width="380" data-show-faces="true"></span>
    </div>
    <ul class="social-likes">
        <li class="facebook" title="Share link on Facebook">Facebook</li>
        <li class="twitter" title="Share link on Twitter">Twitter</li>
        <li class="plusone" title="Share link on Google+">Google+</li>
        <li class="pinterest" title="Share image on Pinterest" data-media="{{ url }}">Pinterest</li>
    </ul>
{%- endmacro %}

